.profileContainer {
  cursor: pointer;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profileMenuButton {
  display: none;
}

@media (max-width: 500px) {
  .profile {
    display: none;
  }

  .profileMenuButton {
    display: flex;
  }
}