.button {
  position: relative;
  isolation: isolate;
  background: white;
  border: 1px solid var(--color-neutral-1);
  padding: 8px 12px;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  min-width: 150px;
}

.button.primary {
  background: linear-gradient(90deg, var(--gradient-from), var(--gradient-to));
  border: none;
  color: white;
}

.button {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.button::before,
.button.primary::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.button:hover::before {
  opacity: .5;
}

.button.primary:hover::before {
  opacity: 1;
}

.button.appendIcon,
.button.primary.appendIcon {
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}
