:root {
  --font-primary: "Segoe UI", "Arial", sans-serif;

  --color-primary: #155DFC;

  --color-default: #101828;

  --color-neutral-1: #4A5565;
  --color-neutral-2: #E5E7EB;
  --color-neutral-3: #F9FAFB;

  --gradient-from: var(--color-primary);
  --gradient-to: #00A63E;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: var(--color-default);
  font-family: var(--font-primary);
  background: linear-gradient(294deg, #F0FDF4 0%, #FFFFFF 50%, #EFF6FF 100%);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: var(--color-default);
}

.container {
  max-width: 1500px;
}