:root {
  --font-primary: "Segoe UI", "Arial", sans-serif;

  --color-primary: #155DFC;

  --color-default: #101828;

  --color-neutral-1: #4A5565;

  --gradient-from: var(--color-primary);
  --gradient-to: #00A63E;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: var(--color-default);
  font-family: var(--font-primary);
  background: linear-gradient(294deg, #EFF6FF 0%, #FFFFFF 50%, #F0FDF4 100%);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: var(--color-default);
}